body{
    text-align: center;
    background-color: black;
    margin-top: auto;
}

.box1{
    background-color:white;
	width: 500px;
	height: 700px;
	margin: auto;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    width: 100%;
    margin: 10px;
}
.box1-header {
    font-size: 15px;
    display: flex;
    margin-top: 0cm;
    width: 92%;
}
.textgroup {
    display: flex;
    flex-direction: column;
}

    .icon {
        display: flex;
        justify-content: flex-end;
     
       
       
    }
    .box1-body {
        margin: 10px;
    }
    .box1-body img {
        width: 500px;
        height: 360px;
        margin: -10px;
        display: flex;
        justify-content: flex-end;
    
    }
    
    .icon1 {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        
    }
    .icon2 {
        display: flex;
        margin-left: auto;
        
       
    }
   .box1-footer {
  text-align: left;
    font-size: 20px;
    height: auto;
    
   } 
   
  
    
   