body{
    text-align: center;
    background-color: black;
    margin-top: auto;
}

.box1{
    background-color:white;
	width: 500px;
	height: 700px;
	margin: auto;
}
.box1-header {
    font-size: 15px;
    margin-top: 2cm;
    display: flex;
    justify-content: space-between;
    margin-top: 0cm;
}

    .icon {
        display: flex;
        justify-content: flex-end;
        margin-top: 0cm;
    }
    .box1-body img {
        width: 500px;
        height: 400px;
        margin: auto;
    
    }
    
    .icon1 {
        display: flex;
    }
    .icon2 {
        display: flex;
        margin-left: auto;
    }
   .box1-footer {

    text-align: left;
    font-size: 20px;
   } 
   
  
    
   